<!DOCTYPE html>
<html>
  <head>
    <title><%= 포스트 %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="post-window">
      <h3>작성자 : <%= %></h3>
      <h3>작성일 : <%= %></h3>
      <div class="post-content" name="post-content">게시글</div>
      <p>좋아요</p>
      <% for( let index = 0; index < array.length; index++ ) { %>
        <p>작성자 : <%=  %></p>
        <p>댓글 : <%=  %></p>
      <% } %>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
