<!DOCTYPE html>
<html>
  <head>
    <title><%= 프로필 %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>이름 : <%=  %></p>
      <p>이메일 : <%=  %></p>
      <p>닉네임 : <%=  %></p>
      <p>생년월일 : <%=  %></p>
      <p>성별 : <%=  %></p>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
